
.shortcut-links .genres-link{
    text-align: center;
    margin: 20px;
    cursor: pointer;
}
.shortcut-links .genres-link:hover{
    text-decoration: underline;
    color: #c6c6c6;
}

.movie-genres{
    color: #c6c6c6;
    font-size: 20px;
    padding-bottom: 30px;
}
