.P-Sidebar{
    background-color: rgb(8, 8, 8);
    width: 40%;
    height: fit-content;

    padding: 10px 12px;
    border-radius: 4px;
}
.P-Sidebar img{
    width: 100%;
    cursor: pointer;
}


.shortcut-links p{
    text-align: center;
    margin: 20px;
    cursor: pointer;
}
.shortcut-links p:hover{
    text-decoration: underline;
    color: #c6c6c6;
}


hr{
    margin-top: 30px;
    border: 0;
    width: 95%;
    height: 1px;
    background: #838383;
}
