
.shortcut-links .genres-link{
    text-align: center;
    margin: 20px 4px;
    cursor: pointer;
}
.shortcut-links .genres-link:hover{
    text-decoration: underline;
    color: #c6c6c6;
}

.movie-genres{
    color: #c6c6c6;
    font-size: 20px;
    padding-bottom: 30px;
    padding-left: 100px;
}

.genres-link{
    text-decoration: none;
}
.genres-link p{
    color: #fff;
    margin: 2px 0;
}

@media (max-width: 800px) {
    .movie-genres{
        padding-left: 30px;
    }
}