.Sidebar{
    background-color: #313131;
    width: 15%;
    height: 100vh;

    position: fixed;
    top: 0;
    padding-left: 3%;
    padding-top: 100px;
}


.side-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;

    cursor: pointer;
}
.side-link p{
    color: #fff;
    
    font-size: 14px;
    margin:  7px 4px;
}
.genreLink{
    text-decoration: none;
    color: #fff;
}
.side-link hr{
    margin-top: 0;
    border: 0;
    width: 50%;
    height: 1px;
    background: #888787;
}
.side-link h3{
    font-size: 18px;
    font-weight: 500;
    color: #9d9d9d;
}

@media (max-width: 800px) {
    .side-link p{
        font-size: 10px;
        margin-top:  7px ;
        margin-left: -12px;
    }
}
@media (max-width: 500px) {
    .Sidebar{
        width: 2%;
    }
    .side-link{
        display: none;
    }
}
