.player{
    width: 100%;
    height: 100vh;

    display: flex;
    padding-left: 15%;
    padding-right: 15%;

    position: absolute;
    top: 75%;

}


.poster{    
    width: 100%;
    z-index: 0;
    position: relative;
    mask-image: linear-gradient(to top, transparent, #000 75%);
    -webkit-mask-image: linear-gradient(to top, transparent, #000 75%);
}